# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore .idea folder (for JetBrains IDEs like WebStorm, PyCharm, etc.)
.idea/

# Ignore macOS-specific system files
.DS_Store

# Other common system or IDE-specific files (optional)
.vscode/
node_modules/
.env
